@import "../../App.css";

.Form {
  background-color: rgb(0, 0, 0, 0.7);
  border-radius: 10px;
  width: 450px;
  max-width: 80%;
  height: 450px;
  max-height: 80vh;
  margin: 3rem auto;
  border: 2px solid var(--cinzamedio);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2.5rem;
}

.Form h2, .Form label, .Form input {
  color: var(--cinza);
}

.Form h2 {
  letter-spacing: 5px;
}

.Form label {
  width: 80%;
  letter-spacing: 3px;
  font-size: 15px;
  padding-top: 1rem;
}

.Form input:nth-child(1) {
  margin-bottom: 1.5rem;
}

.input {
  border-radius: 5px;
  border: none;
  height: 36px;
  width: 80%;
  min-width: 180px;
  border-radius: 5px;
  border: 2px solid var(--cinzamedio);
  background-color: rgba(255, 255, 255, 0.15);
  padding: 10px;
  margin: 10px 0;
  position: relative;
}

#sucesso {
  padding: 0.5rem 0;
  color: var(--amarelo);
}

.Form p:first-child {
  font-size: 0.7rem;
  color: var(--cinza);
  transition: 0.2s ease-in-out;
  margin-top: 0.5rem;
}

.Form p:first-child:hover {
  color: var(--amarelo);
}

.button {
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.divEye {
  position: relative;
  width: 80%;
}

.divEye input {
  width: 100%;
}

.loginEye {
  display: flex;
  float: center;
  cursor: pointer;
  color: white;
  position: absolute;
  top: 18px;
  right: 6px;
}

@media (max-width: 900px) {
  #sucesso {
    font-size: 12px;
  }
}
