.container {
    display: flex;
    justify-content: center;
    align-items: center;

}

.img {
    width: 150px;
    height: 150px;

}

.txt {
    font-size: 20px;
    color: #090909; 
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}