.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}


.img {
    width: auto;
    height: auto;
    
    }

.txt {
    text-align: center;
    font-size: 20px;
    color: #E32B2B;; 
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

@media (max-width: 800px) {
    .img {
        width: 50%;
        height: 50%;
    }
    .txt {
        font-size: 15px;
    }
}