@import "../../App.css";

.footer {
  background-color: #090909;
  color: #F7CC32;
  padding: 2em;
  text-align: center;
}

.social_list {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}

.social_list li {
  margin: 0 1em;
  cursor: pointer;
}

.social_list li:hover {
  color: #EDEDED;
}

.social_list svg {
  font-size: 1.5em;
}

.copy_right {
  margin-top: 0.7em;
}