@import "../../App.css";

.footer {
  color: var(--amarelo);
  max-width: 100vw;
  height: 40vh;
  margin-top: 5em;
  padding: 25px 0;
  display: block;
  background-color: rgb(22, 21, 21);
}

.row {
  display: flex;
  width: 100%;
  text-align: center;
  justify-content: center;
}

.column {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 10px;
}

.us {
  cursor: pointer;
}

.item_list {
  padding: 2px;
  margin: 2px;
}

.social_list {
font-size: 1.2em;
padding: 0.5rem 0;
}

.social_list :hover {
  cursor: pointer;
  color: var(--cinza);
}

.social_whats {
font-size: 1.2em;
}

.social_whats :hover {
  color: var(--cinza);
}

@media (max-width: 900px) {

  .footer{
    height: 30vh;
  }
  .item_list {
    font-size: 11px;
  }

  .column {
    font-size: 11px;
  }

  .social_list {
    font-size: 11px;
  }

  .row span{
    font-size: 11px;
  }
}