@import "../../App.css";

.formDiv{
    height: 65vh;
    display: flex;
    flex-direction: column;
}

form {
    background-color: rgb(0, 0, 0, 0.7);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20vw;
    min-width: 350px;
    height:90%;
    min-height: 300px;
    border-radius: 10px;
    border: 2px solid var(--cinzamedio);
    padding: 1rem;
    color: var(--cinza);
    margin: 0 auto;
    margin-top: 40px;
    justify-content: space-evenly;

}

form h1{
    margin-top: 1rem;
    font-size: 24px;
}

.inputDiv{
    width: 90%;
    display: flex;
    flex-direction: column;
}

.inputDiv label{
    padding-top: 10px;
}

.inputDiv input {
    color: var(--cinza);
    align-self: center;
    width: 100%;
    margin: 20px 0;
    border-radius: 5px;
    border: 1px solid var(--cinzaescuro);
    background-color: rgba(255, 255, 255, 0.20);
    padding: 10px;
}

.showInput{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
    position: relative;
}

.showInput input{
    width: 100%;
}

.showInput label{
margin: 0;
}

.inputDiv button {
    margin-bottom: 2rem;
}

.hideInput{
    display: none;
}

.sucess{
    color: var(--amarelo);
    padding: 0 30px;
    font-weight: bolder;
    font-size: 0.85rem;
}