@keyframes carrinho-move {
    0%   {top: 500px;}
    25%  {top: 300px;}
    50%  {top: 100px;}
    75%  {top: 50px;}
    100% {top: 0px;}
}

.carrinhoClosed{
    display: none;
}

.carrinho{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.926);
    backdrop-filter: blur(6px);
    height: 100vh;
    width: 35vw;
    color: white;
    position: fixed;
    top: 0;
    right: 0;
    border: 2px rgba(255, 255, 255, 0.466) solid;
    transition: height 2s, animation 1.2s;
    animation: carrinho-move 0.2s;
    z-index: 1;
}


.title{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;

}

.title h2{
    color: #000;
    background-color: yellow;
    width: 80%;
    text-align: center;
    margin: 90px 0 60px 0;
}

.title p{
    position: absolute;
    top: 5px;
    right: 15px;
    font-weight: 700;
    cursor: pointer;
}

ul li{
    list-style: none;
}


.remove{
    cursor: pointer;
}

.total{
    display: flex;
    flex-direction: column;
    width: 70%;
    position: absolute;
    bottom: 35px;
}

.total p{
    text-align: center;
    font-size: 22px;
    background-color: yellow;
    color: black;
    margin: 15px auto;
}

.produtos ul{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.listaProdutos{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.listaProdutos li{
    width: 100%;
    padding: 5px 30px;
    transition: height 2s, animation 1.2s;
    animation: carrinho-move 0.2s;
    position: relative;
}

#pedidoRealizado{
    color: red;
    font-size: 12px;
    width: 100%;
    font-weight: bolder;
    margin: 20px auto;
    padding: 0;
}



@media (max-width: 900px){

    .carrinho{
        width: 100%;
        background-color: rgba(0, 0, 0, 0.849);
        border: 2 px solid white;
    }

    .title{
        margin-top: -30px;
    }

    .title p{
        position: absolute;
        top: 7px;
        right: 20px;
        font-weight: 700;
    }

}